[submodule "alpine-glibc"]
	path = alpine-glibc
	url = ../alpine-glibc.git
	branch = main
[submodule "centos7-glibc"]
	path = centos7-glibc
	url = ../centos7-glibc.git
	branch = main
[submodule "dragonwell8"]
	path = dragonwell8
	url = ../dragonwell8.git
	branch = main
[submodule "dragonwell11"]
	path = dragonwell11
	url = ../dragonwell11.git
	branch = main
[submodule "dragonwell17"]
	path = dragonwell17
	url = ../dragonwell17.git
	branch = main
[submodule "git"]
	path = git
	url = ../git.git
	branch = main
[submodule "gitlab-runner-helper"]
	path = gitlab-runner-helper
	url = ../gitlab-runner-helper.git
	branch = main
[submodule "golang-alpine-glibc"]
	path = golang-alpine-glibc
	url = ../golang-alpine-glibc.git
	branch = main
[submodule "kube-state-metrics"]
	path = kube-state-metrics
	url = ../kube-state-metrics.git
	branch = main
[submodule "maven-mysql-client"]
	path = maven-mysql-client
	url = ../svn.git
	branch = main
[submodule "metrics-server"]
	path = metrics-server
	url = ../metrics-server.git
	branch = main
[submodule "murphysec"]
	path = murphysec
	url = ../murphysec.git
	branch = main
[submodule "prometheus-adapter"]
	path = prometheus-adapter
	url = ../prometheus-adapter.git
	branch = main
[submodule "prometheus-webhook"]
	path = prometheus-webhook
	url = ../prometheus-webhook.git
	branch = main
[submodule "sentinel"]
	path = sentinel
	url = ../sentinel.git
	branch = main
[submodule "svn"]
	path = svn
	url = ../svn.git
	branch = main
