[submodule "dragonwell8"]
	path = dragonwell8
	url = ../dragonwell8.git
	branch = main
[submodule "dragonwell11"]
	path = dragonwell11
	url = ../dragonwell11.git
	branch = main
[submodule "dragonwell17"]
	path = dragonwell17
	url = ../dragonwell17.git
	branch = main
[submodule "git"]
	path = git
	url = ../git.git
	branch = main
[submodule "gitlab-runner-helper"]
	path = gitlab-runner-helper
	url = ../gitlab-runner-helper.git
	branch = main
[submodule "svn"]
	path = svn
	url = ../svn.git
	branch = main
